body {
    background-color: rgb(52, 136, 77);
}

.titulo {
    font-family: Arial, Helvetica, sans-serif;
}


.boton {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #fff;
    background-color: #000000;
    border-radius: 15px;
}